doctype html
html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet' href='style.css')
    title Index
  body
    h1 Public
    button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#video-area') Primary
    button.btn.btn-secondary(type='button') Secondary
    button.btn.btn-success(type='button') Success
    button.btn.btn-danger(type='button') Danger
    button.btn.btn-warning(type='button') Warning
    button.btn.btn-info(type='button') Info
    button.btn.btn-light(type='button') Light
    button.btn.btn-dark(type='button') Dark
    button.btn.btn-link(type='button') Link
    .input-group.p-2 
      .input-group-prepend 
        span.input-group-text My-ID/Peer-ID
      input.form-control#my-id(type='text' placeholder='My-ID')
      input.form-control#peer-id(type='text' placeholder='Peer-ID')
    button.btn.btn-primary#append-display(type='button') メディア追加
    .row.w-100#video-area
    .row.w-100#zoom-area
  script(src="main.js") 
